html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: url(/img/rei.webp);
  --shortBreak: var(--pomodoro);
  --longBreak: var(--pomodoro);
  --base: #1e1e2e;
  --crust: #11111b;
  --Red: #d7301d;
  --Mauve: #cba6f7;
  --purple: #af73b4;
  --three: #244070;
  --waves: #08114c;
  --clouds: #264c77;
  --eight: #1d282d;
  --eating: #434d3e;
  --looking: #d5dad9;
}

/* .overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
} */

body {
  background: var(--pomodoro, #000);
  transition: background 2s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  background-color: none;
}

.input-container {
  color: white;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  /* background-color: rgba(0, 0, 0, 0.8); */ /* Background color and opacity */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* z-index: 9999; */
}

#username {
  border-radius: 2em;
  font-size: 13px;
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: none;
}

#submit-btn {
  border-radius: 1rem;
  font-size: 20px;
  /* width: 200px; */
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: var(--base);
  color: white;
}

.username-display {
  font-size: 2em;
  font-weight: bold;
  color: white; /* Text color */
  padding: 15px;
  /* -webkit-text-stroke: 1px var(--Red); */
}

.hide {
  display: none;
}

#name-form {
  position: block;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}

#name-form label {
  font-size: 20px;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
  z-index: 3;
}

/* Progress bar track */
progress[value]::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Progress bar fill */
progress[value]::-webkit-progress-value {
  background-color: var(--Red); /* Change this to your desired color */
}

/* For Firefox */
progress[value]::-moz-progress-bar {
  /* Style the progress bar in Firefox */
  background-color: var(--Red); /* Background color behind the progress bar */
  border-radius: 2px;
}

#js-progress {
  background-color: rgba(0, 0, 0, 0);
}

progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

progress::-webkit-progress-value {
  background-color: rgba(255, 255, 255, 0.5);
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  margin: 0;
  text-align: center;
  color: #fff;
  z-index: 3;
}

.clock {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 15rem;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
  color: #fff;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

#js-seconds {
  z-index: 1;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  border: 2px solid transparent;
  margin: 10px 10px;
  border-radius: 4px;
  padding: 2px 12px;
  background: white;
  color: rgba(255, 255, 255, 0.219) 0px 0px 5px;
  z-index: 3;
}

/* .mode-button.active {
  border-color: rgb(255, 255, 255, 0.219) 0px 0px 5px;
} */

.main-button {
  cursor: pointer;
  /* box-shadow: rgb(255, 255, 255) 0px 0px 5px; */
  font-size: 22px;
  height: 100px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 100px;
  background-color: var(--Red);
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 50%;
  transition: color 1s ease-in-out 1s;
  z-index: 3;
}

button:focus,
button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
  z-index: 3;
}

.hidden {
  display: none;
}

#js-pomodoro,
#js-short-break,
#js-long-break {
  background-color: rgba(255, 255, 255, 0);
  /* box-shadow: rgb(255, 255, 255) 0px 0px 10px; */
  color: #fff;
  transition: 0.25s ease-in-out;
  border-radius: 4rem;
}

#js-pomodoro,
#js-short-break,
#js-long-break {
  background-color: var(--Red);
  color: #fff;
  transition: 0.25s ease-in-out;
}

#js-pomodoro:hover,
#js-short-break:hover,
#js-long-break:hover {
  background-color: rgba(58, 58, 58, 0.25);
  color: #fff;
}

.color-switcher {
  position: fixed;
  top: 25px;
  right: -380px;
  width: 380px;
  max-width: 380px;
  padding: 10px;
  background-color: var(--red);
  z-index: 1000;
  border-radius: 1rem;
  transition: 0.4s;
  margin-right: 10px;
}
.color-switcher.active {
  right: 0px;
  padding-top: 0px;
}
.color-switcher button {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
  background-color: var(--Red);
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

#apply-background-btn {
  background-color: var(--base);
}

.color-switcher button:hover {
  background-color: var(--eating);
  color: var(--looking);
}

.color-switcher .switcher-btn {
  position: absolute;
  top: 0;
  left: -55px;
  color: white;
  background-color: var(--Red);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.icon-img {
  height: 20px;
  width: 20px;
}
/* .theme-buttons-container {
  z-index: 9999;
  height: 400px;
  overflow: auto;
} */

/* Update */
/* Define scrollbar styles */
.theme-buttons-container {
  z-index: 9999;
  height: 400px;
  overflow:scroll;
  scrollbar-width: 10px; /* For Firefox */
  scrollbar-color: #d1c4e0 white; /* For Firefox */
  scrollbar-color: #d1e0e0 #f0f7f4; /* For Chrome, Safari, and Opera */
}

/* For Webkit (Chrome, Safari, Opera) */
.theme-buttons-container::-webkit-scrollbar {
  width: 12px;
}

.theme-buttons-container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #d1e0e0, #f0f7f4, #dbe5e5);
  border-radius: 8px;
}

/* For Firefox */
.theme-buttons-container {
  scrollbar-width: thin;
}

.theme-buttons-container::-moz-scrollbar-thumb {
  background: linear-gradient(to bottom right, #d1e0e0, #f0f7f4, #dbe5e5);
  border-radius: 8px;
}

/* For Edge */
.theme-buttons-container {
  -ms-overflow-style: none; /* Hide default scrollbar in Edge */
}

.theme-buttons-container::-ms-scrollbar-thumb {
  background: linear-gradient(to bottom right, #d1e0e0, #f0f7f4, #dbe5e5);
  border-radius: 8px;
}

.theme-buttons-container:hover::-ms-scrollbar-thumb {
  background: linear-gradient(to bottom right, #d1e0e0, #f0f7f4, #dbe5e5);
}
/* update ends */

.color-switcher .theme-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--Red);
}
.color-switcher .theme-buttons-container .theme-buttons {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Define the slider width so that it scales properly */
.slider_container {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.spotify {
  position: absolute;
  bottom: 0px;
  left: -600px;
  width: 590px;
  max-width: 750px;
  padding: 10px;
  background-color: none;
  z-index: 1000;
  padding: 0px;
  border-radius: 30px;
  transition: 0.4s;
  margin-right: 10px;
  display: grid;

  margin: 10px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  align-items: self-end;
  justify-content: space-evenly;

  transition: 0.4s ease-in-out;
}
.spotify.active {
  left: 0px;
  width: 590px;
  display: flex;
  justify-content: space-evenly;
}

.spotify .spotify-btn {
  position: absolute;
  right: -55px;
  color: white;
  background: var(--Red);
  padding: 10px 20px;
  margin: 0 -10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: row;
  margin: 5px;
  transition: 0.4s ease-in-out;
}

.thumbnail {
  margin: 0 5px;
  width: 60px;
  height: 60px;
  border-radius: 1em;
}

#spotifyPlayersContainer {
  width: 590px;
}

.ssec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 590px;
  background-color: var(--Red);
  border-radius: 1.1rem;
}

.timer-settings {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.timer-settings input,
label {
  width: 150px;
  padding: 5px;
  border: none;
  border-radius: 1rem;
  font-size: 14px;
  font-weight: bold;
}

/* Slider styles */
.sticky-ads {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  min-height: 50px;
  max-height: 50px;
  padding: 0;
  box-shadow: 0 -6px 18px 0 rgba(9, 32, 76, 0.1);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  z-index: 20;
}
.sticky-ads-close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px 0 0;
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #fefefe;
  box-shadow: 0 -6px 18px 0 rgba(9, 32, 76, 0.08);
  cursor: pointer;
}
.sticky-ads .sticky-ads-close svg {
  width: 22px;
  height: 22px;
  fill: #000;
}
.sticky-ads .sticky-ads-content {
  overflow: hidden;
  display: block;
  position: relative;
  height: 50px;
  width: 320px;
  margin-right: 0px;
  margin-left: 0px;
}

.select-wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

/* Style for the file input */
#custom-background-input {
  display: none; /* Hide the default file input */
}

/* Style for the custom file input button */
#custom-background-label {
  text-align: center;
  background-color: var(--base); /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 15px; /* Adjust padding as needed */
  border: none; /* Remove border */
  border-radius: 1rem; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  display: inline-block;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Change background color on hover */
#custom-background-label:hover {
  background-color: var(--eating); /* Change to a darker shade on hover */
}

/* Style for the file name display */
#file-name-display {
  margin-top: 10px; /* Adjust margin as needed */
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden;
  text-overflow: ellipsis; /* Display ellipsis for overflow */
}

#hex{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: auto;
}

#color-picker{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-input{
  width: 90%;
  max-width: 300px;
  height: 40px;
  border-radius: 1rem;
  border: none;
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px;
  margin-top: 25px;
}

#search-button {
  width: fit-content;
  height: 40px;
  border-radius: 1rem;
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  background-color: var(--base);
  color: #fff;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
  #js-minutes {
    font-size: 6rem;
  }
  .separator {
    font-size: 6rem;
  }
  #js-seconds {
    font-size: 6rem;
  }
  .spotify {
    visibility: hidden;
    display: none;
  }
  .color-switcher .theme-buttons-container .theme-buttons {
    width: 40px;
    height: 40px;
  }
  .color-switcher {
    right: -300px;
    width: 300px;
    max-width: 300px;
  }
  .color-picker-button{
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
  }
  #hex{
    height: 0;
  }
}
