# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env
.vscode
brave-config/
brave-cache/
BraveSoftware/
obsidian/
code - oss/
*.dll
# Build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
