body {
    font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #313131;
}

input {
    border-radius: 10px;
    border: none;
}

#qrcode {
    margin-top: 20px;
    border: 10px solid #fff;
    border-radius: 10px;
}