[Desktop Entry]
Comment=
Exec=sh /home/exia/KDE-Rounded-Corners/tools/test-install.sh
GenericName=
MimeType=
Name=Test & Install KDE-Rounded-Corners
NoDisplay=false
Path=/home/exia/KDE-Rounded-Corners/build/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
