.ue-right-section {
  width: auto;
  border: 1px solid #dee1e5;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  z-index: 9998;
}

.ue-right-section.youtube {
  margin-bottom: 30px;
  height: fit-content;
  max-width: 100%;
  /* min-width: 368px; */
}

.ue-enabler-wrapper.youtube {
  margin-top: 30px;
  height: fit-content;
  max-width: 100%;
  /* min-width: 368px; */
}

@media only screen and (max-width: 1639px) {
  .ue-right-section.youtube,
  .ue-enabler-wrapper.youtube {
    min-width: 368px !important;
  }
}

@media only screen and (min-width: 1364px) {
  .ue-right-section,
  .ue-enabler-wrapper {
    width: 455px;
    min-width: 455px;
  }
}

@media only screen and (max-width: 1363px) {
  .ue-right-section,
  .ue-enabler-wrapper {
    width: 368px;
    min-width: 368px;
  }
}

.ue-right-section .settings-tooltip {
  box-shadow: -6px 10px 40px 0px rgba(19, 23, 35, 0.2);
  width: 240px !important;
  opacity: 1 !important;
  pointer-events: all !important;
  position: absolute;
  top: 25px !important;
  left: -225px !important;
  z-index: 100 !important;
}
.ue-right-section .settings-tooltip.place-bottom:after {
  /* border-top-color: white;
    border-top-style: solid !important; */
  left: 90% !important;
}

.ue-suggestion-inline-info,
.ue-bottom-inline-info {
  color: #9e9e9e;
  font-family: Arial;
  margin-left: 27px;
  display: flex !important;
  align-items: center;
}
.ue-bottom-inline-info-loader {
  margin-left: 8px;
  padding: 7px 32px 7px 0;
  display: inline-block;
  float: left;
  text-decoration: none;
}

a.ue-suggestion-inline-info:visited,
a.ue-suggestion-inline-info:active,
a.ue-suggestion-inline-info:visited,
a.ue-suggestion-inline-info:link,
a.ue-bottom-inline-info:visited,
a.ue-bottom-inline-info:active,
a.ue-bottom-inline-info:visited,
a.ue-bottom-inline-info:link {
  color: #9e9e9e !important;
}

.ue-suggestion-inline-info.ue-enable {
  display: inline !important;
}

.ue-suggestion-inline-info.youtube {
  top: 0px;
  right: 10px;
  position: absolute;
  font-size: 13px;
}

.ue-suggestion-inline-info-loader.youtube {
  top: 0px;
  right: 10px;
  position: absolute;
  font-size: 13px;
}
.ue-suggestion-inline-info-loader.youtube.right-45 {
  right: 55px;
}

.ue-suggestion-inline-info-loader.amazon {
  top: 11px;
  right: 10px;
  position: absolute;
  font-size: 13px;
}

.ue-suggestion-inline-info.amazon {
  top: 11px;
  right: 10px;
  position: absolute;
  font-size: 13px;
}

.margin-right-45 {
  margin-right: 45px;
}

.ue-suggestion-inline-info img.u-icon {
  width: 14px;
  margin-left: 3px;
}

.ue-bottom-inline-info img.u-icon {
  width: 14px;
  margin-left: 3px;
}

.ueKeywordOverviewToggle {
  position: absolute;
  top: 8px;
  right: 0;
  padding: 10px;
  transform: translateX(calc(100% + 20px));
  z-index: 10000;
  border-radius: 20px;
}

.ueKeywordOverviewToggle.light {
  background-color: #fff;
}

.ueKeywordOverviewToggle.dark {
  background-color: #202124;
}

.ueKeywordOverviewToggle.youtube {
  top: 3px;
  transform: translateX(120px);
}

.ueKeywordOverviewToggle.youtube.light {
  background-color: #fff;
}

.ueKeywordOverviewToggle.youtube.dark {
  background-color: #0f0f0f;
}

/*
   * for google search bar
  */
.minidiv .ueKeywordOverviewToggle.dark {
  background-color: #303134;
  top: 2px;
  padding: 7px 10px;
}

.minidiv .ueKeywordOverviewToggle.light {
  background-color: #fff;
  top: 2px;
  padding: 7px 10px;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#age-chart-tooltip,
#people-chart-tooltip {
  width: 220px;
  opacity: 1;
  z-index: 100;
  position: absolute;
  padding-left: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#age-chart-tooltip:before,
#people-chart-tooltip:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: rgba(0, 0, 0, 0.8);
  border-width: 6px;
  margin-left: -6px;
}

.age-chart-tooltip-key,
.people-chart-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.ue-sidebar-container {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 607px !important;
  visibility: hidden !important;
  position: fixed !important;
  top: 0px !important;
  right: -607px !important;
  z-index: 100000000000000;
  border: none;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.ue-sidebar-container.show {
  right: -15px !important;
  visibility: visible !important;
}

.ue-sidebar-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.ue-sidebar-container * {
  font-family: Arial, Helvetica, sans-serif;
}

#ue-popup-container {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  height: fit-content;
  width: 368px;
  padding: 20px 20px 24px 20px;
  /* display: none; */
  position: fixed;
  top: -500px;
  right: 10px;
  z-index: 100000000000001;

  overflow: hidden;
  transition: top 0.5s ease-in-out;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: -6px 10px 40px 0px rgba(19, 23, 35, 0.2);
}

#ue-popup-container * {
  font-family: Arial, Helvetica, sans-serif;
}

#ue-popup-container.show {
  display: block;
  top: 0px;
}

@keyframes shine-lines {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}

@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 1.6);
  }
  30% {
    transform: scale(1, 1.2);
  }
  50% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(1, 1.4);
  }
  100% {
    transform: scale(1, 1.6);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.2);
  }
  30% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  80% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.6);
  }
  80% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  30% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.2);
  }
  80% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 0.6);
  }
  30% {
    transform: scale(1, 1.2);
  }
  50% {
    transform: scale(1, 0.2);
  }
  80% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp6 {
  0% {
    transform: scale(1, 0.4);
  }
  30% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 1.4);
  }
  80% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp7 {
  0% {
    transform: scale(1, 0.6);
  }
  30% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.1.2);
  }
  80% {
    transform: scale(1, 0.1);
  }
  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp8 {
  0% {
    transform: scale(1, 1.4);
  }
  30% {
    transform: scale(1, 1.8);
  }
  50% {
    transform: scale(1, 0.6);
  }
  80% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 1.4);
  }
}
@keyframes barUp9 {
  0% {
    transform: scale(1, 1.8);
  }
  30% {
    transform: scale(1, 1.6);
  }
  50% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(1, 1.2);
  }
  100% {
    transform: scale(1, 1.8);
  }
}
@keyframes barUp10 {
  0% {
    transform: scale(1, 2);
  }
  30% {
    transform: scale(1, 1.2);
  }
  50% {
    transform: scale(1, 0.2);
  }
  80% {
    transform: scale(1, 1.6);
  }
  100% {
    transform: scale(1, 2);
  }
}

#ueKeywordInfoSection {
  height: 100%;
  line-height: 100%;
}
/*
  Youtube Dark theme styling
  */
html[dark] .ue-right-section {
  background: #212121;
  border-color: #212121;
  color: #fff;
}

html[dark] #ueKeywordInfoSection .keyword-info-section.youtube {
  color: #fff;
  background-color: #121212;
}

html[dark] .ubersuggest-header-container .ue-arrow-down {
  border-top: 7px solid #fff;
}

html[dark] .ubersuggest-header-container .ue-arrow-down {
  border-top: 7px solid #fff;
}

/*
  Google Dark theme styling
  */

body[data-dt='1'] .ue-right-section {
  background: #2a2a2a;
  border-color: #2a2a2a;
  color: #fff;
}

body[data-dt='1'] #ueKeywordInfoSection .keyword-info-section.google {
  color: #fff;
}

body[data-dt='1'] .ubersuggest-header-container .ue-arrow-down {
  border-top: 7px solid #fff;
}

/* google dark theme */
body[data-dt='1'] .uber-theme-button {
  color: #fff;
  border: 1px solid #dee1e5;
  background-color: #212121;
}
/* youtube dark theme */
html[dark] .uber-theme-button {
  color: #fff;
  border: 1px solid #dee1e5;
  background-color: #212121;
}

body[data-dt='1'] .ubersuggest-header-container .ue-arrow-down {
  border-top: 7px solid #fff;
}

.tippy-box[data-theme~='nobg'] {
  background-color: transparent;
  color: black;
}

.ub-ai-writer-editor {
  width: 28px;
  height: 28px;
  border: none;
  outline: none;
  z-index: 126;
  position: absolute;
  right: 32px;
  cursor: pointer;
}
