body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e0e0e0, #ffffff);
    margin: 0;
    font-family: "PT Sans";
    background-image: url(/abstract.jpg);
    background-size: cover;
    background-position: center;
    overflow: auto; /* Ensure the container itself is scrollable */
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 20px;
    width: 1200px;
    max-width: 1200px;
    overflow-y: scroll;
    margin: 2rem; /* Center the container horizontally with auto margin */
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}

/* Add scrollbar styles here */
.glass::-webkit-scrollbar {
    width: 10px;
}

.glass::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.glass::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  /*   margin-bottom: 20px; */
    text-align: center;
}

.proimg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
}

h1 {
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 30px;
}
h2 {
    text-align: center;
    color: #fff;
    margin: 0.5rem 0;
    font-size: 24px;
}
h3 {
    text-align: center;
    color: #fff;
    margin: 0.2rem 0;
    font-size: 18px;
}
a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
}
a:hover {
    text-decoration: underline;
}
.collapsible {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0;
}
.collapsible::after {
    content: '+';
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* transition: transform 0.3s ease; */
}
.active, .collapsible:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0.5rem 0;
}
.active::after {
    content: '-';
}
.content {
    padding: 0 18px;
    display: none;
    overflow:visible;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    transition: max-height 0.3s ease-out;
}
.content.show {
    display: block;
    max-height: 500px;
}
.content-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.5rem;
    justify-items: center;
}
.img {
    width: 100%;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    object-fit: contain;
}
p{
    color: #fff;
    font-size: 18px;
    padding: 1rem;
}
.link{
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease-out;
    margin: 0.5rem;
    border-radius: 1rem;
}
.main{
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 0.5rem;
}
.main:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.sticky h2 {
    width: 90%;
    position: static;
    margin: 0 auto;
    text-align: center;
}
.first {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
}
.sticky {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
}
.second {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
}
.master {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}