* {
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body {
    background: linear-gradient(to right, #16060f, #5c4141);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;}

label {
    margin: 0px;
    padding: 0px;
    color: #fff;
}

#inputText, #encryptedText, #decryptedText {
    max-width: 550px;
    width: 80%;
    height: 400px;

    margin: 5px;
    padding: 5px;
    border-radius: 1rem;
    border: none;
}

@media (max-width: 768px) {
    #inputText, #encryptedText, #decryptedText {
        width: 100%;
        max-width: 100%;
    }
}

.oneto {
    color: #fff;
    margin: 5px;
    padding: 5px;
}
.matter{
    display: flex;
}
.mainsection{
    display: flex;
    flex-direction: column;
    align-items: center
}