.wrap_oe {
    margin-left: 20px;
    margin-right: 20px;
}
.logo_oe {
    width: 56px;
    height: auto;
}
.title-h1_oe {
    font-size: 18px;
    /* margin: 20px 0 0; */
}
.title-h2_oe {
    font-size: 24px;
    margin: 25px 0 0 0;
}
.img-link-box_oe {
    display: flex;
    margin: 30px 0;
}
.img-link-link_oe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-link-link_oe:hover .img-text_oe {
    opacity: .8;
}
.img-link2-link_oe {
    margin-left: 44px;
    margin-right: 44px;
}
.img-link_oe {
    display: block;
    width: 80px;
    height: auto;
    padding: 0px 20px;
    /* margin-bottom: 10px; */
}
.img-link-link_oe {
    text-decoration: none;
    color: #6e5edb;
    transition: 300ms;
}
.img-text_oe {
    margin: 0;
    font-size: 14px;
}
.btn_oe {
    display: block;
    margin: 5px auto 5px auto;
    padding: 6px 20px;
    background-color: #6e5edb;
    width: 50%;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    transition: 300ms;
}
.btn_oe:hover {
    opacity: .8;
}
.text_oe {
    margin: 0;
}
.text_small_oe {
    font-size: 13px;
    margin: 5px;
}
.link-box_oe {
    margin: 10px 0 20px;
}
.link-link_oe {
    text-decoration: none;
    color: #6e5edb;
    transition: 300ms;
}
.link-link_oe:hover {
    opacity: .8;
}
.lnk_help_oe {
    display: block;
    margin: 20px auto 0px auto;
    padding: 10px 30px;
    background-color: #311cb8;
    width: 70%;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    transition: 300ms;
}
.lnk_help_oe:hover {
    opacity: .8;
}
