.login-register-popup {
  position: fixed;
  width: 550px;
  z-index: 16777271;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  box-sizing: border-box;
}

.login-register-popup--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.login-register-popup--header-help {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #7E8690;
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}

.login-register-popup--header-info {
  display: flex;
  gap: 11px;
  align-items: flex-start;
}

.login-register-popup--header-info-text {
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  line-height: 1.4;
}

.login-register-popup--header-info-text h1 {
  color: #263238;
  font-size: 18px;
  font-weight: 700;
  margin: 2px 0 0 0;
}

.login-register-popup--header-info-text span {
  font-size: 13px;
  color: #7E8691;
}

.login-register-popup--header-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s ease background;
}

.login-register-popup--header-close:hover {
  background: #F6F8FD;
}

.login-register-popup--body video {
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-register-popup--body-text {
  background: linear-gradient(90deg, #F8FFF0 0%, #FFFDEC 98.08%);
  border-radius: 8px;
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  padding: 13px;
  color: #263238;
  text-align: center;
}

.login-register-popup--body-text a {
  color: #7D63EC;
  text-decoration: none;
  font-family: 'Noto Sans', 'Roboto', sans-serif;
}

.login-register-popup--footer {
  display: flex;
  gap: 15px;
}

.login-register-popup--footer a {
  flex: 1;
}

.popup-btn {
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  font-size: 14px;
  color: #ffffff;
  background: #7D63EC;
  box-shadow: 0 2px 8px rgba(117, 93, 223, 0.4);
  border-radius: 8px;
  height: 42px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease background, 0.2s ease box-shadow;
}

.popup-btn:hover {
  background: #936DFF;
  box-shadow: 0 1px 2px rgba(31, 40, 44, 0.08);
}

.popup-btn--white {
  color: #263238;
  background: #FFFFFF;
  border: 1px solid #DCDDDE;
  box-shadow: 0 2px 8px rgba(219, 218, 224, 0.4);
}

.popup-btn--white:hover {
  background: #F7F7F7;
  border: 1px solid #D1D2D3;
  box-shadow: 0 1px 2px rgba(31, 40, 44, 0.08);
}

@media screen and (max-width: 680px) {
  .login-register-popup {
    width: calc(100% - 20px);
    left: 10px;
    right: 10px;
    top: 50px;
    transform: none;
  }
}

@media screen and (max-width: 500px) {
  .login-register-popup--header {
    flex-direction: column;
    align-items: center;
  }

  .login-register-popup--header-close {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .login-register-popup--header-info {
    order: 2;
  }

  .login-register-popup--header-help {
    order: 3;
    margin-top: 15px;
  }

  .login-register-popup--footer {
    flex-direction: column;
  }

  .login-register-popup--footer a {
    flex: initial;
  }
}
