.snv_popup_window {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 16777271;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.snv_app_toolbar_popup {
    width: 400px;
    height: 150px;
    margin: -200px 0 0 -150px;
    padding: 35px 40px 25px;
    text-align: left;
}
.snv_disabled {
    pointer-events: none;
    opacity: 0.4;
}
.snv_w_main {
    width: 400px;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 13px;
}

.snv_w_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snv_w_flex_s {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.snv_w_logo {
    width: 56px;
    height: auto;
}

#snvWndHeader {
    margin: 25px 25px 14px;
}

.snv_w_account {
    margin: 5px auto 10px auto;
    vertical-align: text-bottom;
}

#snvWndDisabledLabel {
    margin-bottom: 15px;
}

#snvWndInfoTitle {
    margin: 15px auto 20px;
}

#snvWndStatistics {
    margin-top: 30px;
}

.input_snv {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 4px;
    margin: 5px 2px;
    max-width: 340px;
}

.input_snv:invalid {
    border: 1px solid red;
}

.snv_w_link {
    color: #7d63ec;
    text-decoration: none;
    cursor: pointer;
}

.snv_w_left {
    width: 100%;
    text-align: left;
}

.snv_ftr {
    width: 100%;
    text-align: left;
    background: #FDFDFD;
    box-shadow: inset 0 6px 5px rgba(0, 0, 0, 0.02);
    margin: 0 -25px -14px -25px;
    padding: 14px 25px;
}

.snv_w_gray {
    color: #666666;
}

.snv_w_body {
    margin: 15px 25px;
}

hr.snv_w {
    border-top: 0 solid #e5e5e5;
}
hr.snv_w-margin {
    border-top: 0 solid #e5e5e5;
    margin: 0 25px;
}

.snv_w_n {
    color: #212121;
    cursor: pointer;
}

.snv_w_sw_active {
    margin: 10px 10px 10px 0;
    padding: 4px 15px;
    background-color: #6e5edb;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.snv_w_sw {
    margin: 10px 10px 10px 0;
    padding: 4px 15px;
    border-radius: 30px;
    color: #212121;
    text-align: center;
    cursor: pointer;
}

.snv_w_b {
    font-weight: bold;
    color: #212121;
}

.snv_w_14 {
    font-size: 14px;
}

.snv_w_button {
    display: block;
    margin: 15px auto;
    padding: 12px;
    background-color: #6e5edb;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.snv_w_button:hover {
    opacity: .8;
}

#snvWndButtonCreate {
    background-color: #f6f8fd;
    color: #212121;
    border: 1px solid #e5e5e5;
    margin: 5px auto 15px auto;
}

#snvWndResult {
    width: 100%;
    font-weight: bold;
}

.snv_w_sent {
    color: #6e5edb;
    font-size: 26px;
}

.snv_w_opened {
    color: #71E379;
    font-size: 26px;
}

.snv_w_clicked {
    color: #F7D070;
    font-size: 26px;
}

.snv_w_after {
    font-size: 14px;
    color: #666666;
}

#snvWndStatFooter {
    margin-top: 30px;
}

.snv_w_date {
    display: block;
    padding: 5px 10px;
    background-color: #F6F8FD;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
}

.snv_w_date:hover {
    background-color: #F0F2F7;
    cursor: pointer;
}

.snv_txt_left {
    text-align: left;
    margin-left: 10px;
}

.snv_popup {
    padding: 35px 40px 25px;
    text-align: left;
}
.snv_popup-title {
    font-size: 20px;
    margin-bottom: 20px;
}
.snv_popup-text {
    font-size: 13px;
    margin-bottom: 20px;
}

#snvPopupClose {
    position: absolute;
    z-index: 2;
    top: 36px;
    right: 33px;
    display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s ease;
}
#snvPopupClose:hover {
    background: #EFF0F4;
}
#snvWarnIcon {
    width: auto;
    height: auto;
    margin: 0 7px;
    display: none;
}

#snvSyncWarningText {
    padding: 8px 20px 8px 14px;
    border-radius: 5px;
    background: #FDF2CD;
    border: 1px solid #F2DF9E;
    text-align: left;
    margin: 18px 0 -8px;
}

#snvSyncListsPanel {
    text-align: left;
    margin-top: 20px;
}

#snvUserLists {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    outline: none;
}

.popup_message_snv {
    position: absolute;
    top: 90%;
    left: 60%;
    z-index: 16777271;
    height: 42px;
    background: #635BD2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.message_label_snv {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 10px 20px 0px 46px;
}
.message_img_snv {
    position: absolute;
    width: 9px;
    height: 18px;
    margin-left: 26px;
    margin-top: 12px;
}