.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
  margin-bottom: 0;
  flex-shrink: 0;
}
.switch input {
  display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  /* background-color: #7769FE; */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #6e5edb;
  /* background-color: #afa7ff; */
}
input:checked + .slider:before {
  background: white;
  /* background: #7a6dff; */
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 12px;
}
.slider.round:before {
  border-radius: 50%;
}
.snv_sw_gray {
  padding: 3px 11px 3px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
}
.snv_sw_gray-active {
  background: linear-gradient(180deg, #FAFCFF 0%, #EFF2F4 100%);
  border: 1px solid #EAEBF0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.snv_sw_gray:not(.snv_sw_gray-active) .snv_img_act {
  display: none;
}
.snv_sw_gray-active .snv_img_pas {
  display: none;
}
.snv_sw_box {

}
.snv_sw_box  img {
  width: 24px;
  height: 24px;
  margin-right: 3px;
}