.max{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.containerm {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    z-index: 0;
    max-width: 1920px;
    align-items: center;
}

.containerm > div {
    background-color: rgba(0, 0, 0, 0.82);
    padding: 20px;
    border: 15px solid transparent;
    transition: all 0.4s ease-in;
    z-index: 0;
    max-width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerm > div:hover{
    border-image-source: url(/img/plus.png);
    color: #fff;
    background-color: #00000071;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 10px;
    font-weight: 900;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-weight: 800;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin-bottom: 5px;
}

p {
    font-size: 1.2em;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 8px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}

#execute-command,
#start-operation,
#send-message,
#get-location,
.button {
    font-size: 15px;
    border: 10px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: 400;
    transition: 1s;
    cursor: pointer;
    margin: 0;
    transition: 0.4s ease-in;
}

#execute-command:hover,
#start-operation:hover,
#send-message:hover,
#get-location:hover,
.button:hover{
    color: gray;
    border: 10px solid #fff;
    border-image-source: url(/img/plus.png);
}

.message-input {
    margin-top: 10px;
}

#messages-container {
    margin-top: 10px;
    max-height: 200px;
    overflow: scroll;
}

.message-container {
  /*   display: flex; */
    align-items: center;
    margin-bottom: 5px;
    overflow-x:calc(100% - 150px);
    max-width: 200px;
}

.message-text {
    flex-grow: 1;
    max-width: calc(100% - 150px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-container span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 30px); /* Adjust the width to accommodate the delete button */
}

.message-container .delete-message {
    cursor: pointer;
    color: red;
    margin-left: 5px;
}

.message-container .read {
    text-decoration: line-through;
}


#threat-list {
    max-height: 100px;
    overflow-y: auto;
}

@media screen and (max-width: 768px){
    .containerm {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px){
    .containerm {
        grid-template-columns: repeat(3, 1fr);
    }
}